.Rhistory
.Rproj.user

# ignore files startging with
_studenten
_*

# ignore slides/libs
slides/lib/*

# ignore experimental documents
material/experimentunterlagen/*

# ignore power simulation
material/power/*

# ignore .omv

# ignore links
*.lnk
